#root {
  height: 100vh;
}

.planet {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.planet img {
  transition: all 350ms;
}

.planet img:hover {
  transform: scale(1.12);
  cursor: pointer;
}
